@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

$first: white;
$second: #090c31;
$third: #ee4933;
$dark : rgb(44, 44, 44);
$black : black;
$text1: 'Aboreto';
$text2: 'cursive';
$text3: 'Satisfy';